

.quadrado{
    border: 2px #4384ee;
    width: 300px;
    height: 300px;
    border-radius: 10px;
    background-color:#12223b;
    text-align: center;
    display: ruby-base-container;
    




    


    
    
}

div#q2{
    width: 200px;
    height: 150px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    
    
    
    
}

div#q1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 200px;
    text-align: center;
    display: ruby-base-container;
    margin-top: 2%;
    margin-left: 44%;
    
    
    
}

div#q3{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 200px;
    
   

    
   
    
}


footer{
    background-color:#12223b;
    margin-top: 18%;

}

div#sabado{
    background-color: #12223b;
}

ul#domingo{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

div#q5{
    text-align: center;
    margin-left: 46%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 150px;
    height: 80px;
    margin-top: 2%;
    display: inline-block;
    


